* {
  box-sizing: border-box;
}

body {
  background-color: #DEDFE1;
  
  font-family: sans-serif;

  height: 100vh;
}

main {
  border: 1px solid transparent;
}

.wrapper  {
  width: 700px;
  height: 300px;

  margin: 18% auto 0 auto;
}

.user-card {
  height: 300px;
  width: 700px;

  color: #A9A9AA;

  top: 0;

  z-index: 3;
}

.user-card-wrapper {
  background-color: #FFFFFF;
  border-radius: 7px;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.2); 
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.2);
}

.avatar-wrapper {
  width: 40%;
}

.avatar {
  object-position: -216px -8px;
  width: 200%;
}

.content {
  padding: 65px 30px 30px 80px;
  vertical-align: top;

  width: 60%;
}

.name > h2 {
  color: black;
}

.name-link {
  text-decoration: none;
  color: inherit;

  margin-top: 7px;
}

.info {
  margin-top: 50px;
}

.info-wrapper + .info-wrapper {
  margin-left: 45px;
}

.info-quantity {
  font-size: 25px;

  margin-top: 10px;
}

/* PRO */

.name::after {
  content: "PRO";
  
  top: -38px;
  right: 0px;

  font-size: 14px;
  font-weight: 600;
  color: white;

  background-color: #dbdbdb;
  border-radius: 16px;

  padding: 0.3em 0.5em;
}

/* circle button plus */

.plus {
  background-color: rgba(255, 222, 73, 0.9);
  border-radius: 50%;

  width: 70px;
  height: 70px;

  text-align: center;

  right: -35px;
  top: 115px;
}

.plus-icon {
  margin: 23px 0;
}

.user-card-second {
  width: 660px;
  
  top: -20px;
  left: 20px;

  z-index: 2;
}

.user-card-third {
  width: 620px;
  
  top: -40px;
  left: 40px;

  z-index: 1;
}

/* font size 0 */

.user-card,
.info {
  font-size: 0;
}

/* font size 18 */

.content,
.avatar-wrapper,
.info-wrapper {
  font-size: 18px;
}

/* margin 0 */

body,
.name > h2,
.info-header {
  margin: 0;
}

/* height 100% */

main,
.user-card-wrapper,
.avatar-wrapper,
.content {
  height: 100%;
}

/* overflow: hidden */

.user-card-wrapper,
.avatar-wrapper {
  overflow: hidden;
}

/* realtive */

.wrapper,
.name {
  position: relative;
}

/* absolute */

.user-card,
.user-card-second,
.user-card-three,
.name::after,
.plus {
  position: absolute;
}

/* inline-block */

.content,
.avatar-wrapper,
.name::after,
.info-wrapper,
.name-link,
.plus {
  display: inline-block;
}